.addtimesheetcontent {
  background-color: var(--ContainerColor);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px;
}

.time_tabbar {
  background: transparent;
  box-shadow: none !important;
  border-bottom: 1px solid rgb(148, 138, 138);
}
.title_date {
  font-size: large;
  font-weight: 600;
}
.des_time {
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  width: 210px;
  padding: 6px;
  height: 40px;
  border-bottom: 3px solid #6d9886;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.des_time:focus {
  outline: none;
}
.des_time::placeholder {
  color: #89919e;
}

@media (max-width: 600px) {
  #timeout {
    margin-top: 0;
  }
  #dailytimemob {
    margin-left: 0;
  }
  #btnmob {
    margin-top: 20px;
  }
  #closeMob {
    margin-top: -5px;
    margin-right: 1px;
  }
  #popupmobile_timesheet {
    width: 90%;
    bottom: 13%;
    background-color: #f0f0f0;
    position: fixed;
    color: #000000;
    left: 5%;
  }
  #dateWeekly {
    margin-left: -160px;
    margin-bottom: 15px;
  }
  #weeklyMob {
    margin-bottom: 25px;
  }
  #mobweekly {
    margin-left: -20px;
  }

  .sticky_btn {
    position: static;
  }
  .timesheetinput {
    width: 28vh;
  }
}
.scroll_weekly {
  border-radius: 0.7rem;
  padding-bottom: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: max-content;
  padding-top: 0.5rem;
  margin-left: 24px;
}
.scroll_weekly::-webkit-scrollbar {
  width: 9px !important;
  height: 10px !important;
}

.scroll_weekly::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 18px;
  border: 3px solid white;
  height: 300px !important;
}

.scrollMob {
  height: 510px !important;
}
.input_weekly {
  margin-left: 160px;
}
.btn_top {
  margin-top: 30px;
}
.dailytime {
  margin-left: -64px;
}

.timesheetimg {
  width: 70%;
  height: 58vh;
  margin-top: 90px;
  background-size: contain;
}

.img_position {
  margin-left: -94px;
}

.popup-daily {
  height: max-content;
  width: 36%;
  bottom: 33%;
  background-color: #f0f0f0;
  position: fixed;
  right: 32%;
  border-radius: 20px;
  align-items: center;
  padding: 1%;
  color: #000000;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0px 2px 2px 2px;
}
.close {
  margin-top: -14px;
  margin-right: -10px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #popupmobile_timesheet {
    width: 90%;
    left: 5%;
    padding: 8px;
  }
  #scroll_wallet {
    margin-left: 5px !important;
  }
  .adddailytimesheet-popup-desc {
    width: 110%;
  }
  #dailytimemob {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .adddailytimesheet-popup-desc {
    width: 100%;
  }
  .adddailytspopupbtn {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #popupmobile_timesheet {
    width: 80%;
    left: 10%;
    right: 10%;
    padding: 15px;
  }
  #scroll_wallet {
    margin-left: -10px !important;
  }
  .adddailytimesheetpopuppname {
    margin-left: -15px;
  }
  .adddailytspopupbtn {
    margin-top: 35px;
  }
  .timeoutdiv {
    margin-left: 1px;
  }
  .weeklypopuppname {
    margin-left: -15px;
  }
  .weeklyinputs {
    width: 50%;
    height: 40px;
  }
  .weeklyselect {
    width: 100% !important;
    height: 40px;
  }
}
.adddailytimesheet-dropdown {
  height: 40px;
}
@media only screen and (min-width: 460px) and (max-width: 1280px) {
  .popup-daily {
    top: 30%;
    width: 44%;
    scale: 0.8;
  }
}
