.loandashboardProfile {
  width: 150px;
  height: 150px;
  margin-top: 6px;
  border-radius: 9999px;
  outline-color: var(--ActiveBtnTextColor);
  outline-style: solid;
}

.loanDashboardBox {
  margin-bottom: 10px;
  width: 780px;
  background-color: var(--ContainerColor);
  border-radius: 10px;
  box-shadow: var(--Shadow);
  min-width: 10 0px;
  min-height: 200px;
  margin: 3px;
}

.menu_bar_n {
  margin-top: 2rem;
  margin-left: -3rem;
}

.tabs-list_n {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 0.938rem;
  margin-left: 5rem;
}

.tabs-list_n:after {
  content: "";
  position: absolute;
  height: 0.0625em;
  width: 40rem;
  background: #c7cacc;
  bottom: 0;
  left: 0;
}

.list_tabs_n a {
  color: #959799;
}

.list_tabs_n {
  display: inline-block;
  transition: all 0.2s ease-in-out 0s;
  padding: 0.5em 0.5em 0em 0.5em;
}

.list_tabs_n a {
  font-style: normal;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1.3;
  color: #959799;
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
}

.list_tabs_n.active a {
  color: #ffffff !important;
  border-radius: 12px 12px 0% 0% !important;
  background: #6d9886 !important;
  width: max-content !important;
}

i.active-marker {
  height: 0.1875em;
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
  width: 70%;
}

.menu_tabs_row {
  display: none;
}

.menu_tabs_row.active {
  display: block;
}

.menu_tabs_row_n {
  display: none;
}

.menu_tabs_row_n.active {
  display: block;
}

.loandashboardcsss {
  margin: 25px;
  margin-top: 10px;
}

.scrollmenu_loan {
  overflow: auto;
  white-space: nowrap;
}

@media (max-width: 675px) {
  .menu_bar_n {
    margin-left: -2rem;
  }

  .tabs-list_n {
    margin-left: 0px;
  }
}

@media (max-width: 675px) {
  .scrollmenu_loan {
    padding: -5rem;
    margin-left: 0rem;
  }

  .loanempname {
    margin-top: -40px !important;
  }
}

.scrollmenu_loan::-webkit-scrollbar {
  width: 9px !important;
  height: 10px !important;
}

.scrollmenu_loan::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 18px;
  border: 3px solid white;
  height: 200px !important;
}

.loanboxcss {
  margin-top: -20px;
}

.loanempname {
  margin-top: -40px;
}

.loanimg {
  height: 15rem;
}

.loan_text {
  font-size: medium !important;
  font-weight: 600 !important;
  color: #9da8abf1 !important;
}

.tab_bar {
  background: transparent !important;
  box-shadow: none !important;
  border-bottom: 1px solid rgb(148, 138, 138);
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: transparent !important;
}
.t-input-fields-1 {
  margin-top: 25px;
}
.loan-history-fields {
  margin-top: 25px;
}
.loan-searchbox {
  margin-top: 10px;
  margin-bottom: 15px;
}
.loan-heading {
  margin-bottom: -15px;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .loan-date-amount-field {
    margin-top: 15px;
  }
  .loan-history-repaid-field {
    margin-top: 15px;
  }
  .loan-searchbox {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .t-input-fields-1 {
    margin-top: 25px;
  }
  .t-input-fields-1-date {
    margin-right: 30px;
  }
  .t-input-fields-1-field {
    width: 60%;
  }
  .t-input-fields-1-fields {
    width: 100%;
  }
  .t-input-fields-1-amount {
    margin-right: 30px;
  }
  .t-input-fields-1-desc {
    margin-right: 30px;
    width: 36%;
  }
  .loan-searchbox {
    margin-bottom: 20px;
  }
  .loan-history-fields {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
  }
}

.loan-paymentmethod-field {
  height: 40px;
}
