.Searchbartemp {
  border: 1px solid #e5e5e5;
  border-radius: var(--ButtonBorderRadius);
  padding: 3px;
  width: max-content;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .sal-breakup-searchbox {
    width: 61%;
  }
}
