.plan_main {
  background-image: url("../../assets/img/planbg.svg");
  background-size: cover;
  min-height: 93vh;
  background-repeat: no-repeat;
}

.plancard-box {
  position: relative;
  background-color: #fff;
  /* height: 480px; */
  width: 347px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
}
.tableStyPlan {
  /* border: 1px solid black; */
  margin: 10px;
  width: 95%;
}
.tableHeadStyplan {
  border: 1px solid black;
  background-color: #6d9886;
  color: white;
  text-align: center;
  letter-spacing: 1px;
}
.tableHeadSty2plan {
  border: 1px solid black;
  background-color: #fff;
  color: black;
  text-align: center;
  letter-spacing: 1px;
}
.currentplan-box {
  background-color: #b2edd2;
}
.plancard-box:hover {
  scale: 1.03;
  cursor: pointer;
}

.plan_icon {
  width: 50px;
  height: 50px;
}

.discount_text {
  background-color: #6d9886;
  border-radius: 30px;
  color: #fff;
  font-size: 14px;
  padding: 3px;
  padding-inline: 10px;
}

.plan_btn {
  background-color: #6d9886;
  height: 50px;
  width: 75%;
  border: none;
  border-radius: 99px;
  color: #fff;
}

.plan_btn:hover {
  background-color: white;
  border: 1px solid #aaaaaa;
  color: black;
}

.currentPlanBtn {
  background-color: #198754;
  height: 50px;
  width: 75%;
  border: none;
  border-radius: 99px;
  color: #fff;
}

.plancard-box > ul > li {
  list-style-type: none;
  /* padding-inline-start: 1ch; */
}

.ribbon-2 {
  --f: 10px;
  /* control the folded part*/
  --r: 15px;
  /* control the ribbon shape */
  --t: 10px;
  /* the top offset */

  position: absolute;
  inset: var(--t) calc(-1 * var(--f)) auto auto;
  padding: 0 10px var(--f) calc(10px + var(--r));
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--f)),
    calc(100% - var(--f)) 100%,
    calc(100% - var(--f)) calc(100% - var(--f)),
    0 calc(100% - var(--f)),
    var(--r) calc(50% - var(--f) / 2)
  );
  background: #bd1550;
  box-shadow: 0 calc(-1 * var(--f)) 0 inset #0005;
  color: white;
  font-size: 12px;
}
@media only screen and (min-width: 320px) and (max-width: 500px) {
  .plancard-box {
    width: 320px;
  }
}

.PlanpopupMainBox {
  z-index: 999;
  background-color: pink;
  width: max-content;
  padding: 30px;
}
.NoAccess {
  z-index: 999;
  height: max-content;
  width: 40%;
  bottom: 40%;
  background-color: #f0f0f0;
  position: fixed;
  right: 30%;
  border-radius: 20px;
  align-items: center;
  padding: 30px;
  color: #000000;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0px 2px 2px 2px;
}

.loader_payment {
  position: relative;
}

.circleLoading {
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  border-radius: 100%;
  opacity: 0;
  animation: pulse_4923 4s infinite linear;
  border: 0.5px solid #000000;
  box-shadow: 0px 0px 5px #eef0e5;
}
/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
.success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
    
    .check-icon {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid #4CAF50;
        
        &::before {
            top: 3px;
            left: -2px;
            width: 30px;
            transform-origin: 100% 50%;
            border-radius: 100px 0 0 100px;
        }
        
        &::after {
            top: 0;
            left: 30px;
            width: 60px;
            transform-origin: 0 50%;
            border-radius: 0 100px 100px 0;
            animation: rotate-circle 4.25s ease-in;
        }
        
        &::before, &::after {
            content: '';
            height: 100px;
            position: absolute;
            background: transparent;
            transform: rotate(-45deg);
        }
        
        .icon-line {
            height: 5px;
            background-color: #4CAF50;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 10;
            
            &.line-tip {
                top: 46px;
                left: 14px;
                width: 25px;
                transform: rotate(45deg);
                animation: icon-line-tip 0.75s;
            }
            
            &.line-long {
                top: 38px;
                right: 8px;
                width: 47px;
                transform: rotate(-45deg);
                animation: icon-line-long 0.75s;
            }
        }
        
        .icon-circle {
            top: -4px;
            left: -4px;
            z-index: 10;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: 4px solid rgba(76, 175, 80, .5);
        }
        
        .icon-fix {
            top: 8px;
            width: 5px;
            left: 26px;
            z-index: 1;
            height: 85px;
            position: absolute;
            transform: rotate(-45deg);
            background-color: transparent;
        }
    }
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}